body {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: #FFFFFF;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

h1,
.center {
  text-align: center;
}

button {
    margin: 10px;
}

#tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: clamp(.65rem, 1vw, 1rem);
}

#tree {
  white-space: pre;
}

a{
  color:gold;
}

h1{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-size: clamp(1.2rem, 5vw, 2rem);
  /* text-decoration: underline; */
}

h2 {
  margin-top: 2em;
  color: green;
}

button {
  background-color: #FF1F00;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: .2em 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth effects */
}

button:hover {
  background-color: #B30700;
  transform: scale(1.05);
}

button:active {
  background-color: #854000;
  transform: scale(0.95);
}

button:disabled {
  background-color: #d6d6d6;
  color: #808080;
  cursor: not-allowed;
}


ol {
  list-style-position: inside;
}