html {
    font-family: 'JetBrains-Mono', 'Courier New', monospace;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 2.5vh;
}
h1,
.center {
  text-align: center;
}
button {
    /* display: block; */
}